
  <!-- SIDE NAV -->
  <!-- do we want a side menu? -->
  <!-- side-nav directive -->
    <!-- logo directive -->
    <!-- user-menu directive -->
    <!-- dashboard-menu directive -->

  <ul id="slide-out" class="side-nav" ng-class="{ 'fixed': vm.sidenav.fixed }">
    <li>
      <div class="userView">
        <div class="background">
          <img src="static/images/office.jpg">
        </div>
        <a href="/+pfitzpaddy"><img class="circle" src="static/images/yuna.jpg"></a>
        <a href=""><span class="white-text name">John Doe</span></a>
        <a href=""><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <li><a href=""><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="">Third Link With Waves</a></li>
  </ul>
  <a data-activates="slide-out" class="button-collapse"></a>