
body {
  padding-left: 280px;
}

@media only screen and (max-width : 992px) {
  body {
    padding-left: 0;
  }
}

nav {
	padding-left: 20px;
	padding-right: 20px;
}

.container {
  width: 92%;
}

.row {
  margin-bottom: 0px;
}

.rotate {
  cursor: pointer;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.rotate.down {
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}

.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.card.post {
	padding: 20px;
}