

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!"><i class="material-icons left">add</i>one</a></li>
  <li><a href="#!"><i class="material-icons left">settings</i>two</a></li>
  <li class="divider"></li>
  <li><a href="#!"><i class="material-icons left">supervisor_account</i>three</a></li>
</ul>

<!-- nav-bar -->
<nav class="z-depth-1">
  <div class="nav-wrapper container">
    
    <!-- sidenav menu btn -->
    <a href="javascript:void(0)" data-activates="slide-out" class="button-collapse" ng-class="{ 'show-on-large': !vm.layout.sidenav.fixed, 'hide-on-large-only': vm.layout.sidenav.fixed }"><i class="material-icons rotate">menu</i>
    </a>
    <!-- logo -->
    <a href="/" class="brand-logo">{{ vm.layout.navbar.logo }}</a>

    <ul class="right hide-on-med-and-down">
      <!-- authenticated -->
      <div ng-if="vm.layout.account">
        <li><a href="/+{{ vm.layout.account.username }}">+{{ vm.layout.account.username }}</a></li>
        <li><a href="/+{{ vm.layout.account.username }}/settings">Settings</a></li>
        <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
      </div>

      <!-- guest -->
      <div ng-if="!vm.layout.account">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </div>

    </ul>
  </div>
</nav>