{% load compress %}
{% load staticfiles %}

{% compress js %}
<!-- vendor -->
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/materialize/dist/js/materialize.min.js' %}"></script>
<!-- angular -->
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-filter-count-to/dist/angular-filter-count-to.min.js' %}"></script>
<!-- leaflet -->
<script type="text/javascript" src="{% static 'bower_components/leaflet/dist/leaflet-src.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js' %}"></script>

<!-- reporthub app -->
<script type="text/javascript" src="{% static 'javascripts/app/reporthub.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/app/reporthub.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/app/reporthub.routes.js' %}"></script>
<!-- authentication -->
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<!-- layout -->
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<!-- navbar -->
<script type="text/javascript" src="{% static 'javascripts/layout/navbar/navbar.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/navbar/directives/navbar.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/navbar/controllers/navbar.controller.js' %}"></script>
<!-- sidenav -->
<script type="text/javascript" src="{% static 'javascripts/layout/sidenav/sidenav.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/sidenav/directives/sidenav.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/sidenav/controllers/sidenav.controller.js' %}"></script>
<!-- header -->
<script type="text/javascript" src="{% static 'javascripts/layout/header/header.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/header/directives/header.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/header/controllers/header.controller.js' %}"></script>
<!-- dashboard -->
<script type="text/javascript" src="{% static 'javascripts/layout/dashboard/dashboard.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/dashboard/directives/dashboard.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/dashboard/controllers/dashboard.controller.js' %}"></script>
<!-- widgets -->
<script type="text/javascript" src="{% static 'javascripts/layout/widgets/widgets.module.js' %}"></script>
<!-- html -->
<!-- <script type="text/javascript" src="{% static 'javascripts/layout/widgets/html/directives/html.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/widgets/html/controllers/html.controller.js' %}"></script> -->
<!-- stats -->
<script type="text/javascript" src="{% static 'javascripts/layout/widgets/stats/directives/stats.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/widgets/stats/controllers/stats.controller.js' %}"></script>
<!-- leaflet -->
<script type="text/javascript" src="{% static 'javascripts/layout/widgets/leaflet/directives/leaflet.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/widgets/leaflet/controllers/leaflet.controller.js' %}"></script>
{% endcompress %}
