
<nav ng-controller="NavbarController as vm" class="z-depth-2">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">ReportHub</a>

    <!-- fixed -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if user.is_authenticated %}
        <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
        <li><a href="/+{{ user.username }}/settings">Settings</a></li>
        <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
      {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {% endif %}
    </ul>
    
  </div>
</nav>